---
import PageLayout from "@layouts/page-layout.astro";
import "@styles/fonts.css";
import ShowDropdown from "@components/show-dropdown";
import { getLineNumbersFromTeiDom } from "@utils";
import Tei from "@components/Tei.astro";
import PageSelect from "@components/page-select.astro";
import processTei from "@utils/processTei";

const { dialogueId } = Astro.params;
const showParams = Astro.url.searchParams.getAll("show");
const showGreek = showParams.includes("gr");
const showEnglish = showParams.includes("en");
const showFirstRead = showParams.includes("firstRead");

const teiFileGr = (
  await import(`../../../content/dialogue/${dialogueId}/gr.xml?raw`)
).default;

const teiDataGr = processTei(teiFileGr);

const teiFileEn = (
  await import(`../../../content/dialogue/${dialogueId}/en.xml?raw`)
).default;
const teiDataEn = processTei(teiFileEn);
const lineNumbers = getLineNumbersFromTeiDom(teiDataGr.dom);
---

<PageLayout>
  <h1>Dialog Test</h1>
  <ShowDropdown client:load />
  <PageSelect pages={lineNumbers} />
  <main>
    <section class="dialogueContainer">
      <div style="width: max-content; margin: 0 2rem">
        <Tei teiData={teiDataGr} />
      </div>
      <div style="width: max-content; margin: 0 2rem">
        <Tei teiData={teiDataEn} />
      </div>
    </section>
  </main>
</PageLayout>

<style>
  .dialogueContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
</style>
